<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 my-3">
      <div class="card text-center bg-primary text-white">
        <div class="card-header">
          Total Confirmed
        </div>
        <div class="card-body">
          <h3>{{ totalConfirmed }}</h3>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 my-3">
      <div class="card text-center bg-warning text-white">
        <div class="card-header">
          Total Active
        </div>
        <div class="card-body">
          <h3>{{ totalActive }}</h3>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 my-3">
      <div class="card text-center bg-danger text-white">
        <div class="card-header">
          Total Deaths
        </div>
        <div class="card-body">
          <h3>{{ totalDeaths }}</h3>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 my-3">
      <div class="card text-center bg-success text-white">
        <div class="card-header">
          Total Recovered
        </div>
        <div class="card-body">
          <h3>{{ totalRecovered }}</h3>
        </div>
      </div>
    </div>
  </div>